<% const isSelected = title == selected %>

<a href="/<%= link %> " class="flex flex-row items-center gap-16 px-8 py-5 text-coolgray-100 hover:text-coolgray-700 hover:bg-coolgray-300  <%= isSelected ? 'bg-coolgray-500' : '' %>">
    <div class="w-6">
        <%- include (`../../../../public/icons/${icon}`) %>
    </div>
    <p class="font-quicksand font-light text-base"><%= title %></p>
</a>