<h2>Hello <%= firstName %> <%= secondName %>!</h2>

<p>Thank you for reaching out to us through our contact form. We appreciate your interest and will do our best to assist you. Below, you'll find the details of your message.</p>

<p>
Message:<br>
<%= message %>
</p>

<p>We aim to respond to all inquiries promptly. Our team will review your message and get back to you as soon as possible. If you have any additional information to provide or any further questions, please feel free to reply to this email.</p>

<p>In the meantime, you can visit our website at <a href="<%= serverAddress %>">ProProtein</a> for more information about our service.</p>

<p>Thank you again for contacting us.</p>

<p>
Best regards,<br>
ProProtein Team
</p>

