<h2>Hello!</h2>

<p>Thank you for requesting a guest simulation.</p>

<p>If you see this email, it means that we will notify you about the simulation results when they are available.</p>

<p>You can check your guest simulation details or future results by clicking one of the links below:</p>

<p>In the meantime, you can visit our website at <a href="<%= url %>">ProProtein</a> for more information about our service.</p>

<p><a href="<%= url_project_details %>">Project details</a></p>

<p><a href="<%= url_project_results %>">Project results</a></p>

<p>
Best regards,<br>
ProProtein Team
</p>

