<div>
    <h2>Hello!</h2>
    <p>Thank you for requesting a guest simulation.</p>
    <p>If you see this email, it means that we will notify you about the simulation results when they are available.</p>
    <p>You can check your guest simulation details or future results by clicking one of the links below:</p>

    <p>
        <a href="<%= url %>">Our site ProProtein</a>
    </p>
    <p>
        <a href="<%= url_project_details %>">Project details</a>
    </p>
    <p>
        <a href="<%= url_project_results %>">Project results</a>
    </p>
</div>
