<div>
    <% if (username) { %>
    <h2>Hello <%= username %>!</h2>
    <% } else { %>
    <h2>Hello!</h2>
    <% } %>
    <p>Unfortunatelly, Your recent simulation has been processed with errors!</p>
    <% if (username) { %>
    <!-- not guest -->
    <p>You can check simulation details by logging in to our site and after that clicking 'Project details' link below</p>
    <% } else { %>
    <!-- guest -->
    <p>You can check simulation details by clicking 'Project details' link below</p>
    <% } %>
    <p>
        <a href="<%= url %>">ProProtein</a>
    </p>
    <p>
        <a href="<%= url_project %>">Project details</a>
    </p>
</div>
