<% if (username) { %>
<h2>Hello <%= username %>!</h2>
<% } else { %>
<h2>Hello!</h2>
<% } %>
<p>Unfortunatelly, Your recent simulation has been processed with errors!</p>
<% if (username) { %>
<!-- not guest -->
<p>You can check simulation details by logging in to our website <a href="<%= url %>">ProProtein</a> and clicking in link: <a href="<%= url_project %>">Project details</a></p>
<% } else { %>
<!-- guest -->
<p>You can check simulation details by clicking link: <a href="<%= url_project %>">Project details</a></p>
<% } %>

<p>
Best regards,<br>
ProProtein Team
</p>

