<!DOCTYPE html>
<html lang="en">
<%- include('../components/head/_head.ejs') %>

<body class="_body">

    <!-- content -->
    <div class="_content">
        
        <!-- header -->
        <%- include('../components/header/_header.ejs') %>

        <!-- background absolute -->
        <div class="_bg_gray_long"></div>
        
        <!-- main content -->
        <%- include('contents/home.ejs') %>
    </div>

    <!-- footer -->
    <!-- <%- include('../components/footer/_footer.ejs') %> -->

</body>

</html>