<div class="h-full w-full py-10 px-40">
    <div class="h-full w-full bg-white rounded-xl flex flex-col p-10 gap-4 shadow-xl">
        <!-- title -->
        <%- include('components/title', { p: 'Admin Dashboard' }) %>

        <!-- <a href="/admin/mongo-express">Mongo Express</a> -->
        <a href="/debug">Debug Page</a>

        

    </div>
</div>
