<div class="h-full w-full py-10 px-40 font-quicksand flex flex-col gap-5 text-gray-700">
    <div class="w-full bg-white rounded-xl flex flex-col px-10 py-6 shadow-xl gap-6">
        <p class="text-4xl">Help</p>
        <!-- <a href="http://rnasolo.cs.put.poznan.pl/help" class="text-blue-500 hover:text-blue-600 underline">http://rnasolo.cs.put.poznan.pl/help</a> -->
        <!-- <a href="https://virxicon.cs.put.poznan.pl/help" class="text-blue-500 hover:text-blue-600 underline">https://virxicon.cs.put.poznan.pl/help</a> -->

        <div class="flex flex-col">
            <p class="text-2xl mb-2">Table of contents</p>
            <ul class="list-none pl-6">
                <li>
                    <a href="#proprotein-workflow"
                        class="text-blue-500 hover:underline before:content-['1.'] relative before:absolute before:-left-4 before:hover:cursor-text before:text-gray-700">ProProtein
                        workflow</a>
                </li>
                <li>
                    <a href="#web-application"
                        class="text-blue-500 hover:underline before:content-['2.'] relative before:absolute before:-left-4 before:hover:cursor-text before:text-gray-700">Web
                        application</a>
                </li>
                <li>
                    <ul class="list-none pl-10">
                        <li>
                            <a href="#user-account"
                                class="text-blue-500 hover:underline before:content-['2.1.'] relative before:absolute before:-left-7 before:hover:cursor-text before:text-gray-700">User
                                account</a>
                        </li>
                        <li>
                            <ul class="list-none pl-10">
                                <li>
                                    <a href="#signing-up"
                                        class="text-blue-500 hover:underline before:content-['2.1.1.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Signing
                                        up</a>
                                </li>
                                <li>
                                    <a href="#signing-in"
                                        class="text-blue-500 hover:underline before:content-['2.1.2.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Signing
                                        in</a>
                                </li>
                                <li>
                                    <a href="#resetting-password"
                                        class="text-blue-500 hover:underline before:content-['2.1.3.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Resetting
                                        password</a>
                                </li>
                                <li>
                                    <a href="#editing-user-data"
                                        class="text-blue-500 hover:underline before:content-['2.1.4.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Editing
                                        user data</a>
                                </li>
                                <li>
                                    <a href="#deleting-account"
                                        class="text-blue-500 hover:underline before:content-['2.1.5.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Deleting
                                        account</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#projects"
                                class="text-blue-500 hover:underline before:content-['2.2.'] relative before:absolute before:-left-7 before:hover:cursor-text before:text-gray-700">Managing
                                Projects</a>
                        </li>
                        <li>
                            <ul class="list-none pl-10">
                                <li>
                                    <a href="#setting-up-new-project"
                                        class="text-blue-500 hover:underline before:content-['2.2.1.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Setting
                                        up a new project</a>
                                </li>
                                <li>
                                    <a href="#providing-input-file"
                                        class="text-blue-500 hover:underline before:content-['2.2.2.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Providing
                                        input file</a>
                                </li>
                                <li>
                                    <a href="#providing-simulation-parameters"
                                        class="text-blue-500 hover:underline before:content-['2.2.3.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Providing
                                        simulation parameters</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#other"
                                class="text-blue-500 hover:underline before:content-['2.3.'] relative before:absolute before:-left-7 before:hover:cursor-text before:text-gray-700">Other</a>
                        </li>
                        <li>
                            <ul class="list-none pl-10">
                                <li>
                                    <a href="#statuses"
                                        class="text-blue-500 hover:underline before:content-['2.3.1.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Statuses</a>
                                </li>
                                <li>
                                    <a href="#mail-notifications"
                                        class="text-blue-500 hover:underline before:content-['2.3.2.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Mail
                                        notifications</a>
                                </li>
                                <li>
                                    <a href="#viewing"
                                        class="text-blue-500 hover:underline before:content-['2.3.3.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Viewing</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#tools"
                                class="text-blue-500 hover:underline before:content-['2.4.'] relative before:absolute before:-left-7 before:hover:cursor-text before:text-gray-700">Tools</a>
                        </li>
                        <li>
                            <ul class="list-none pl-10">
                                <li>
                                    <a href="#gromacs"
                                        class="text-blue-500 hover:underline before:content-['2.4.1.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Gromacs</a>
                                </li>
                                <li>
                                    <a href="#mol-star"
                                        class="text-blue-500 hover:underline before:content-['2.4.2.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Mol*</a>
                                </li>
                                <li>
                                    <a href="#highlighting"
                                        class="text-blue-500 hover:underline before:content-['2.4.3.'] relative before:absolute before:-left-10 before:hover:cursor-text before:text-gray-700">Highlighting
                                        regions of high fluctuation</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="mb-0">
                    <a href="#system-requirements"
                        class="text-blue-500 hover:underline before:content-['3.'] relative before:absolute before:-left-4 before:hover:cursor-text before:text-gray-700">System
                        requirements</a>
                </li>
                <li class="mb-0">
                    <a href="#authors"
                        class="text-blue-500 hover:underline before:content-['4.'] relative before:absolute before:-left-4 before:hover:cursor-text before:text-gray-700">Authors</a>
                </li>
                <li class="mb-0">
                    <a href="#references"
                        class="text-blue-500 hover:underline before:content-['5.'] relative before:absolute before:-left-4 before:hover:cursor-text before:text-gray-700">References</a>
                </li>

            </ul>
        </div>


        <p class="text-4xl" id="proprotein-workflow">1. ProProtein workflow</p>
        <img src="/images/overview.png" class="w-full" alt="overview">
        <p class="text-4xl" id="web-application">2. Web application</p>
        <p class="text-3xl" id="user-account">2.1. User account</p>
        <p class="text-2xl" id="signing-up">2.1.1. Signing up</p>
        <p>To sign up you need to access Profile Menu in the top right corner and choose “Sign Up”. You will be
            redirected to a form that requires you to provide an username, email and password (which must be minimum 6
            characters long). After successfully filling the form you can sign in to your new account.</p>
        <p class="text-2xl" id="signing-in">2.1.2. Signing in</p>
        <p>To sign in you need to access Profile Menu in the top right corner and choose “Sign In”. You will be
            redirected to a form that requires you to provide your email and password. If the credentials are correct,
            you will get access to the account after clicking the “Sign In” button below.</p>
        <p class="text-2xl" id="resetting-password">2.1.3. Resetting password</p>
        <p>If you want to reset your password, you need to access Profile Menu in the top right corner and choose “Sign
            In”. Under the “Password” field there is a “Forgot password?” button. After clicking it, you will be
            redirected to a “Reset Password” form where you need to provide the email address connected to your account.
            After providing the address and clicking “Send”, an automatic email will be sent to the provided address,
            with a “Reset Password” link. When redirected by the link, you can provide and repeat a new password to be
            used for this account.</p>
        <p class="text-2xl" id="editing-user-data">2.1.4. Editing user data</p>
        <p>You can edit user data such as username, provided email or password. To do this you need to access Profile
            Menu in the top right corner when signed in and choose “Profile”. This will redirect you to a page with
            information and statistics about your account and projects. To make changes click “Edit” under User data and
            a form to edit desired information will be provided.</p>
        <p class="text-2xl" id="deleting-account">2.1.5. Deleting account</p>
        <p>To delete an account, you need to access Profile Menu in the top right corner when signed in and choose
            “Profile”. After being redirected click on the “Delete Account” button. Confirm by clicking “Delete” again.
            Your account will be then deleted from the service. </p>
        <p class="text-3xl" id="projects">2.2. Managing projects</p>
        <p class="text-2xl" id="setting-up-new-project">2.2.1. Setting up a new project</p>
        <p>To set up a new project you need to access Projects Menu in the top left corner when signed in and choose
            “Projects”. Then you need to click the “New Project” button on the right. A form will be provided in which
            you need to specify a project name and can specify a project description. To finish a project, click on
            either “Create” or “Create and open” button. If the “Create and open” button is chosen, the project view
            will be opened. To access it another way, you need to get to the Projects subpage and click the folder icon
            to the right of the chosen project. </p>
        <p class="text-2xl" id="providing-input-file">2.2.2. Providing input file</p>
        <p>To provide an input file you need to click the “Change File…” button in the “Molecular Structure” area. Input
            file options will be expanded. To provide your file, click “Choose file…”, select a file from your system
            and then click on “Upload” to upload your file into the project. If you want to use one of the demo files
            provided, you just select the file you want under “Select Demo” and then click the “Select” button to the
            right.</p>
        <p class="text-2xl" id="providing-simulation-parameters">2.2.3. Providing simulation parameters</p>
        <p>We provide default simulation parameters which were chosen to work best for basic simulations. If you want to
            provide the parameters yourself then you need to select “Advanced” under Simulation Parameters. Upon
            selection, the parameters menu is expanded. For energy minimisation and molecular dynamics parameters you
            can provide the file with parameters, by clicking “Choose file…” on the right and selecting desired file
            from your file system. We provide a suitable template for these files under respective “Get a template*”
            button. </p>
        <p>Next there are select lists for Force Field, Water Model, Continuous group of solvent molecules and Group for
            output parameters.</p>
        <p>Two last parameters refer to our “Highlighting regions of high fluctuation” functionality. How changing them
            can affect the post simulation analysis is described in the respective subchapter of “Tool design” chapter
            of this manual.</p>
        <p>If the parameters are set to desired values, click the “Save parameters” button to the bottom right. If one
            or more parameters are not changed, they retain their default values.</p>
        <p>When you are finished with setting up the project click “Request Simulation” to put your project into the
            queue.</p>
        <p>Important: Simulation once requested cannot be stopped, canceled or modified. If you need to tweak some
            parameters or change inputs, please set up a new project. </p>
        <p class="text-3xl" id="other">2.3. Other</p>
        <p class="text-2xl" id="statuses">2.3.1. Statuses</p>
        <div>
            <ul class="list-disc ml-5">
                <li>Initial - Project is in its initial phase, the simulation was not requested yet.</li>
                <li>Waiting - Simulation has been requested and changes cannot be made, it is waiting in a queue to be
                    processed.
                </li>
                <li>Processing - This project is being processed right now.</li>
                <li>Finished - This project has been simulated and the results can be seen. Changes cannot be made, so
                    if you need to simulate something different, you need to make a new project.</li>
            </ul>
        </div>
        <p class="text-2xl" id="mail-notifications">2.3.2. Mail notifications</p>
        <div>
            <p>Automatic mail notifications are sent when:</p>
            <ul class="list-disc ml-5">
                <li>User wants to reset his password.</li>
                <li>Requested simulation finishes.</li>
                <li>Storage time for the project expires.</li>
            </ul>
        </div>
        <p class="text-2xl" id="viewing">2.3.3. Viewing</p>
        <p>To view the results of requested simulation, you need to open the selected finished project view. Then, if
            the project is finished, the button “Open Results in Mol* Viewer” will be present on the right. After
            clicking it, you will be redirected to our Molstar subpage, where the results are presented in a 3d view.
            There you can change the coloring from the default way to highlighting regions of high fluctuation and
            vice-versa, using the “Coloring” button on the left. If you want to go back to the project view, click “Back
            to project”. If you want some more information about Molstar features or a quick start guide, check its
            documentation here.</p>
        <p class="text-3xl" id="tools">2.4. Tools</p>
        <p class="text-2xl" id="gromacs">2.4.1. Gromacs</p>
        <p>This tool is used to perform the molecular dynamics simulation. To get more information about input
            parameters and overall GROMACS workflow check its own documentation here.</p>
        <p class="text-2xl" id="mol-star">2.4.2. Mol*</p>
        <p>This tool allows us to present the results. If you are interested in ways it can help viewing them, check its
            documentation here. Some of its features are not available in ProProtein, but when you find they would be
            beneficial in your research, please let us know.</p>
        <p class="text-2xl" id="highlighting">2.4.3. Highlighting regions of high fluctuation</p>
        <p>An additional feature that our service provides is showing regions of highest intensity of atom movements.
            These regions are called spheres and they are made of a main CA atom and atoms that are in distance less or
            equal to 8Å around it. Number of spheres is equal to the number of CA present in the protein and every atom
            can be present in multiple spheres. Relative positions of atoms can differ during simulation, thus the user
            during project creation can designate the trajectory frame in which atoms are allocated to spheres (default
            value is 1).</p>
        <p>Fluctuations are measured by calculating RMSD between current and next frame for each sphere. Prior
            calculating the spheres are superposed to minimize the influence of atoms movement. After obtaining RMSD for
            every sphere in every frame interval, these values are sorted and a top percentage of them can be
            highlighted when viewing the results. The percentage can be chosen by the user (default value is 10%).</p>
        <p class="text-4xl" id="system-requirements">3. System requirements</p>
        <p>ProProtein is designed to work in all major browsers. Latest version recommended.</p>
        <div class="flex flex-row gap-8">
            <div class="flex flex-col items-center gap-4">
                <img src="/images/browser_chrome.png" class="h-14" alt="chrome 120">
                <p>Chrome 120</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <img src="/images/browser_edge.png" class="h-14" alt="edge 119">
                <p>Edge 119</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <img src="/images/browser_safari.png" class="h-14" alt="safari 17.1">
                <p>Safari 17.1</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <img src="/images/browser_firefox.png" class="h-14" alt="firefox 120">
                <p>Firefox 120</p>
            </div>
        </div>

        <p class="text-4xl" id="authors">4. Authors</p>

        <p class="text-4xl" id="references">5. References</p>

    </div>
</div>