<div class="h-full w-full py-10 px-40">
    <div class="h-full w-full bg-white rounded-xl flex flex-col p-10 gap-4 shadow-xl">
        <!-- title -->
        <%- include('components/title', { p: 'History' }) %>

        <!-- navigation -->
        <%- include('components/nav', { selected: 'history' }) %>

        <!-- search bar -->
        <!-- <div></div> -->

        <!-- table -->
        <%- include('components/table') %>

        <!-- pagination -->
        <%- include('components/pagination', { route: 'history' }) %>
    </div>
</div>
