<div class="flex flex-row gap-6 font-quicksand font-bold text-gray-400">
    <a href="projects" class=<%= selected === 'projects' ? "_nav_link_selected" : "_nav_link" %>>
        <p>Projects</p>
    </a>
    <a href="waiting" class=<%= selected === 'waiting' ? "_nav_link_selected" : "_nav_link" %>>
        <p>Waiting</p>
    </a>
    <a href="history" class=<%= selected === 'history' ? "_nav_link_selected" : "_nav_link" %>>
        <p>History</p>
    </a>
</div>