<!-- <meta http-equiv="refresh" content="2"> -->
<div class="flex flex-row justify-between items-center">
    <p class="font-quicksand font-bold text-4xl"><%= p %></p>
    <button onclick="openNewProjectForm()" class="h-10 w-32 rounded-md bg-coolgray-500 flex items-center justify-center font-quicksand font-bold text-white hover:bg-coolgray-600">
        <p>New Project</p>
    </button>
    <div id="new_project_modal_wrapper" class="transition-all duration-700 fixed top-0 left-1/2 w-0 h-full bg-coolgray-500 bg-opacity-50 flex flex-col overflow-hidden">
        <div class="font-quicksand font-light transition-all duration-1000 bg-white m-auto w-full h-1/2 flex flex-col overflow-hidden items-center">
            <div class="w-full h-full grid place-items-center">
                <form class="flex flex-col w-2/5 gap-6" action="/new_project" method="post">
                    <p class="text-4xl whitespace-nowrap">Create new project</p>
                    <label class="flex flex-row gap-4 items-center w-full mt-4">
                        <p class="whitespace-nowrap w-36 flex-shrink-0">Project name:</p>
                        <input class="bg-coolgray-300 w-full h-8 rounded outline-none focus:ring-2 focus:ring-coolgray-400 px-4" type="text" name="project_name">
                    </label>
                    <label class="flex flex-row gap-4 items-center w-full">
                        <p class="whitespace-nowrap w-36 flex-shrink-0">Project description:</p>
                        <textarea class="bg-coolgray-300 w-full h-24 rounded outline-none focus:ring-2 focus:ring-coolgray-400 px-4 py-2 resize-none" name="project_description"></textarea>
                    </label>
                    <input type="hidden" name="route" value=<%=reqQuery.route%>>
                    <div class="flex flex-row text-white justify-between gap-8 mt-4">
                        <div>
                            <button type="button" onclick="openNewProjectForm()" class="w-20 h-8 rounded bg-red-500 hover:bg-red-600">
                                Cancel
                            </button>
                        </div>
                        <div class="flex flex-row gap-4">
                            <button type="submit" name="new_project_button" value="create" class="w-20 h-8 rounded bg-green-500 hover:bg-green-600">
                                Create
                            </button>
                            <button type="submit" name="new_project_button" value="create_and_open" class="w-40 h-8 rounded bg-blue-500 hover:bg-blue-600">
                                Create and open
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    const new_project_modal_wrapper = document.getElementById('new_project_modal_wrapper')

    const openNewProjectForm = () => {
        new_project_modal_wrapper.classList.toggle('w-0')
        new_project_modal_wrapper.classList.toggle('w-full')
        new_project_modal_wrapper.classList.toggle('left-1/2')
        new_project_modal_wrapper.classList.toggle('left-0')
    }

</script>