<a class="-mt-2 bg-white border border-orange-500 rounded-lg text-orange-500 font-quicksand font-medium py-1 self-center w-40 hover:text-white hover:bg-orange-600 hover:border-orange-600 text-center"
href="<%= destination %>"><%= p %></a>
