<!DOCTYPE html>
<html lang="en">
<%- include('../components/head/_head.ejs') %>

<body class="_body">
    
    <!-- content -->
    <div class="_content">

        <!-- background absolute -->
        <div class="_bg_orange"></div>

        <!-- main content -->
        <div class="_auth_form_wrapper">
            <form class="_auth_form" action="/login" method="post">
                <%- include('contents/login.ejs') %>
            </form>
        </div>

    </div>

</body>

</html>